// @author: Vaga Trip.
// @design by: Vaga Trip.
// Copyright 2022 Vaga Trip.

// card 
.card {
    border-color: var(--border-color);
    background-color: var(--card-color);

    .card-title {
        color: var(--color-900);
        font-weight: 600;
    }
}